
  <nav class="navbar navbar-expand-sm bg-light navbar-light bg-dark">
    <ul class="navbar-nav">
      <li  class="nav-item">
        <a class="btn-primary" routerLinkActive='active' routerLink='comp2' >Comp2</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" routerLinkActive='active' routerLink='comp3' >Comp3</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" routerLinkActive='active' routerLink='comp4' >Comp4</a>
      </li>
    </ul>
  </nav>




<!--app-comp1></app-comp1-->


<router-outlet></router-outlet>
